.main {
	max-width: 1024px;
}
.navbar-brand {
	font-size: 150%;
	padding-top: 2px;
	padding-bottom: 2px;
}
.info-link {
	position: absolute;
	right: 0.5rem;
}
.info-icon {
	display: block;
	color: #ccc;
	fill: currentColor;
}
.slider-toggle {
	cursor: pointer;
}
.slider-content {
	overflow-y: hidden;
	transition: 0.5s;
	padding-top: 5px;
	margin-top: -5px;
	padding-right: 5px;
	margin-right: -5px;
}
.slider-closed {
	transition: 0.5s;
	max-height: 0px !important;
}
legend {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 1rem;
}
#start {
	width: 5rem;
}
.canvas-container {
	width: 100%;
	text-align:center;
}
canvas {
	border: 1px solid #CCC;
	border-radius: 4px;
}
