body {
	font-family: sans-serif;
	background: white;
}

#main {
	position: relative;
}

#events {
	position: fixed;
	width: 16rem;
	padding-right: 1rem;
	border-right: 2px solid #eee;
	height: calc(100% - 2rem);
	overflow-y: auto;
	font-size: 90%;
	padding: 1ex;
}

#calendar {
	position: absolute;
	left: 17rem;
	width: calc(100% - 18rem);
}

.cal-month-block {
	margin-bottom: 1rem;
}

.cal-month {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 1ex;
	margin: 0 auto;
	padding: 0;
}

.cal-weekday {
	text-align: center
}

.cal-day {
	text-align: center;
	padding: 50% 0;
	background: #F0F0F0;
	position: relative;
}

.cal-empty {
	background: white;
}

.cal-cell {
	position: absolute;
    top: 1ex;
    left: 0;
    bottom: 0;
    right: 0;
}

.cal-event {
	border-radius: 5px;
	margin: 0 0.25rem 4px;
	overflow: hidden;
	font-size: 75%;
}

.form-control {
	display: inline-block;
	height: 2rem;
	font-size: 100%;
}

.form-control[type=text], .form-control[type=date] {
	width: 10rem;
}

.form-control[type=color] {
	width: 3em;
	padding: 0.25ex 0.5ex;
}

.form-control[type=number] {
	width: 4.5em;
}

.form-group {
	margin-bottom: 1ex;
}

.form-group label {
	width: 4em;
	text-align: right;
	margin-right: 1ex;
	font-weight: bold;
}

.form-group button {
	margin-top: 0.5em;
}
